@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .sign-in-button {
    @apply flex items-center gap-5 rounded-lg bg-gray-600 px-6 py-5 text-left text-sm font-bold leading-tall text-gray-200 transition-all duration-300 ease-in-out hover:bg-gray-500 sm:text-lg;
  }

  .navbar-profile {
    @apply ml-6 mt-auto flex items-center justify-center gap-3 rounded-md p-2 transition-all duration-200 ease-in-out hover:bg-gray-200/5 md:ml-0;
  }
}
